VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN="carebinder-f27df.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="carebinder-f27df"
VITE_FIREBASE_STORAGE_BUCKET="carebinder-f27df.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="327019147850"
VITE_FIREBASE_APP_ID="1:327019147850:web:6548dab18b56900ac2ecb3"
VITE_FIREBASE_MEASUREMENT_ID="G-HQ3SE4PT0Y"
